body {
  font-family: 'Spectral';
  font-size: 21px;
  background-color: black;
  color: white;
  text-align: center;
}

.result {
  display: none;
}

#KEY {
  text-align: left;
  vertical-align: top;
  margin-left: 250px;
  border-style: solid;
  border-color: white;
  max-width: 550px;
  max-height: 220px;
  float: bottom right;



}

.titleKey {
  color: #9ce6ff;
}

.colKey {
  color: #940000;
}

.matKey {
  color: #e07f1d;
}

.dietKey {
  color: #ebd40c
}

.habKey {
  color: #3dd993;
}

.eleKey {
  color: #3ec7ed;
}

.typeKey  {
  color: #4f0dbf;
}

.newColumn {
  line-height: 1000px;
  margin-top: -600px;
  margin-left: 250px;;
}
