body {
  font-family: 'Spectral';
  font-size: 21px;
  background-color: black;
  color: white;
  text-align: center;
}

.result {
  display: none;
}

#KEY {
  text-align: left;
  vertical-align: top;
  margin-left: 250px;
  border-style: solid;
  border-color: white;
  max-width: 550px;
  max-height: 220px;
  float: bottom right;
}

h3 {
  color: #9ef2ff;
}

input {
  background: black;
  color: #5902ab;
  border-style: solid;
  border-color: #9ef2ff;
}


.titleKey {
  color: #9ce6ff;
}

.colKey {
  color: #940000;
}

.matKey {
  color: #e07f1d;
}

.dietKey {
  color: #ebd40c
}

.habKey {
  color: #3dd993;
}

.eleKey {
  color: #3ec7ed;
}

.typeKey  {
  color: #4f0dbf;
}

.newColumn {
  line-height: 1000px;
  margin-top: -600px;
  margin-left: 250px;;
}

#ColImg img{
  height: 100px;
  width:200px;
  position: relative;

}

#ColImg {
  height: 100px;
  width:200px;
  position: relative;
  float: right;
  margin-right: 20px;
}

#MatImg img{
  height: 300px;
  width:400px;
  position: relative;

}

#DietImg img{
  height: 100px;
  width:200px;
  position: relative;
}

#DietImg {
  height: 100px;
  width:200px;
  position: relative;
}

#HabImg img{
  height: 300px;
  width:400px;
  position: relative;
}

#EleImg img{
  height: 350px;
  width:400px;
  position: relative;
}

#TypeImg img{
  height: 200px;
  width:300px;
  position: relative;
}
